{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - class: {String} Adds a price class to the price element
    - product: {Object} Product Liquid object (required)
    - product_form_id: {String} Adds a product form id to connect the price to a product form so that the price updates on different variant selections
    - section_id: {String} Section ID
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing

    Usage:
    {%- render 'price', class: 'copy--large', product: product, product_form_id: product_form_id, section_id: section.id, use_variant: true -%}
{% endcomment %}

{% style %}
  .product-price__compare-at {
    font-size: 0.85em;
    text-decoration: line-through;
  }
{% endstyle %}

{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="product-price {{ class }} {% if product.available == false %}product-price--sold-out{% endif %} {%- if compare_at_price > price %} product-price--on-sale{% endif -%} {%- if product.price_varies == false and product.compare_at_price_varies %}product-price--no-compare{% endif -%}">
  {%- if target.compare_at_price -%}
    <dl class="flex flex--wrap flex--align-baseline">
      <dt class="display--hidden">
        {{ 'products.product.price.regular_price' | t }}
      </dt>
      <dd class="type--no-wrap space--mr--xsmall">
        {{ money_price }}
      </dd>
      <dt class="display--hidden">
        {{ 'products.product.price.sale_price' | t }}
      </dt>
      <dd class="product-price__compare-at type--no-wrap">
        {%- if settings.currency_code_enabled -%}
          {{ compare_at_price | money_with_currency }}
        {%- else -%}
          {{ compare_at_price | money }}
        {%- endif -%}
      </dd>
    </dl>
  {%- else -%}
    <dl>
      <dt class="display--hidden">
        {{ 'products.product.price.regular_price' | t }}
      </dt>
      <dd class="type--no-wrap">
        {{ money_price }}
      </dd>
    </dl>
  {%- endif -%}

  <dl class="copy--small {% if product.selected_or_first_available_variant.unit_price_measurement == nil %} display--hidden{% endif %}">
    <dt class="display--hidden">
      {{ 'products.product.price.unit_price' | t }}
    </dt>
    <dd>
      <span class="type--no-wrap">
        {{- product.selected_or_first_available_variant.unit_price | money -}}
      </span>
      <span aria-hidden="true">/</span>
      <span class="display--hidden">
        &nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;
      </span>
      <span class="type--no-wrap">
        {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
          {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
      </span>
    </dd>
  </dl>
</div>
