{% style %}
  .password__logo {
    width: {{ section.settings.header_logo_width }}px;
  }

  @media screen and (max-width: 549px) {
    .password__logo {
      width: {{ section.settings.header_logo_width_mobile }}px;
    }
  }
{% endstyle %}

<header class="container--page space--pv--medium">
  <div class="align--text-center">
    {%- if section.settings.header_logo != blank -%}
      {%- assign image_size_2x = section.settings.header_logo_width | times: 2 | at_most: 1000 -%}
      <img srcset="{{ section.settings.header_logo | image_url: width: section.settings.header_logo_width }} 1x, {{ section.settings.header_logo | image_url: width: image_size_2x }} 2x"
        src="{{ section.settings.header_logo | image_url: width: section.settings.logo_width }}"
        loading="eager"
        class="password__logo display--inline-block space--viewport-sides"
        width="{{ section.settings.header_logo.width }}"
        height="{{ section.settings.header_logo.height }}"
        alt="{{ section.settings.header_logo.alt | default: shop.name | escape }}"
      >
    {%- else -%}
      <h1 class="type--heading title--medium type--hyphenate">
        {{ shop.name }}
      </h1>
    {%- endif -%}
  </div>
  {%- if shop.password_message != blank -%}
    <p class="password__message copy--large container--copy-max-width">
      {{ shop.password_message }}
    </p>
  {%- endif -%}

</header>

{% schema %}
{
  "name": "t:password_header.name",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "t:header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "header_logo_width",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 90,
      "unit": "px",
      "label": "t:header.settings.logo_width.label"
    },
    {
      "type": "range",
      "id": "header_logo_width_mobile",
      "min": 40,
      "max": 200,
      "step": 10,
      "default": 50,
      "unit": "px",
      "label": "t:header.settings.logo_width_mobile.label"
    }
  ]
}
{% endschema %}
