<div class="container--page {% if section.settings.spacing_top %}space--pt--xlarge{% endif %} {% if section.settings.spacing_bottom %}space--pb--xlarge{% endif %}">
  <div class="map">
    <google-map class="map__media" data-address="{{ section.settings.map_address }}" data-api-key="{{- settings.google_maps_api_key -}}" data-style-name="{{ section.settings.google_maps_style }}" data-zoom-level="{{ section.settings.map_zoom }}" data-section-id="{{ section.id }}">
      {%- if section.settings.map_address != blank and settings.google_maps_api_key != blank -%}
        <div
          id="Map-{{ section.id }}"
          class="map__google-map"
        >
        </div>
      {%- elsif section.settings.image %}
        {{ section.settings.image | image_url: width: 3000 | image_tag:
          loading: 'lazy',
          sizes: '90vw',
          widths: '375, 550, 720, 990, 1200, 1500, 2000, 2400, 3000',
          class: 'map__image'
        }}
      {%- else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg map_image' }}
      {%- endif -%}
      {%- if section.settings.image -%}
        {{ section.settings.image | image_url: width: 3000 | image_tag:
          loading: 'lazy',
          sizes: '90vw',
          widths: '375, 550, 720, 990, 1200, 1500, 2000, 2400, 3000',
          class: 'map__image map__image--backup js-backup-image'
        }}
      {%- endif -%}
    </google-map>

    <div class="map__info">
      <div class="map__info-box color--bg-{{ section.settings.color_scheme }} space--ph--large space--pv--large {% if section.settings.color_scheme == 'default' %}space--p-clear--small-down{% endif %} {% if section.settings.content_box_shape == 'half-arch' %}element--border-top-right-arch{%- endif -%}">
        {%- if section.settings.heading != blank -%}
          <h2 class="type--heading title--small space--mb--small">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          <div class="rte">
            {{ section.settings.description }}
          </div>
        {%- endif -%}
        {%- if section.settings.show_directions and section.settings.map_address != blank -%}
          <a href="https://www.google.com/maps/dir/?api=1&destination={{ section.settings.map_address }}" target="_blank" rel="nofollow" class="space--mt--small display--block">
            {{ 'map.get_directions' | t }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'map.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:map.name",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:map.paragraph"
    },
    {
      "type": "checkbox",
      "id": "spacing_top",
      "default": true,
      "label": "t:spacing_top.label"
    },
    {
      "type": "checkbox",
      "id": "spacing_bottom",
      "default": true,
      "label": "t:spacing_bottom.label"
    },
    {
      "id": "map_address",
      "label": "t:map.settings.map_address.label",
      "type": "text",
      "info": "t:map.settings.map_address.info"
    },
    {
      "type": "checkbox",
      "id": "show_directions",
      "default": true,
      "label": "t:map.settings.show_directions.label",
      "info": "t:map.settings.show_directions.info"
    },
    {
      "type": "range",
      "id": "map_zoom",
      "min": 10,
      "max": 18,
      "step": 1,
      "default": 14,
      "unit": "x",
      "label": "t:map.settings.map_zoom.label"
    },
    {
      "type": "radio",
      "id": "google_maps_style",
      "options": [
        {
          "value": "standard",
          "label": "t:map.settings.map_style.option_standard"
        },
        {
          "value": "dark",
          "label": "t:map.settings.map_style.option_dark"
        },
        {
          "value": "grayscale",
          "label": "t:map.settings.map_style.option_grayscale"
        }
      ],
      "default": "standard",
      "label": "t:map.settings.map_style.label",
      "info": "t:map.settings.map_style.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:color_scheme.option_default"
        },
        {
          "value": "inverse",
          "label": "t:color_scheme.option_inverse"
        },
        {
          "value": "primary",
          "label": "t:color_scheme.option_accent_1"
        },
        {
          "value": "secondary",
          "label": "t:color_scheme.option_accent_2"
        },
        {
          "value": "tertiary",
          "label": "t:color_scheme.option_accent_3"
        },
        {
          "value": "quaternary",
          "label": "t:color_scheme.option_accent_4"
        },
        {
          "value": "quinary",
          "label": "t:color_scheme.option_accent_5"
        },
        {
          "value": "senary",
          "label": "t:color_scheme.option_accent_6"
        }
      ],
      "default": "inverse",
      "label": "t:color_scheme.label_text_box"
    },
    {
      "type": "select",
      "id": "content_box_shape",
      "options": [
        {
          "value": "rectangle",
          "label": "t:content_box_shape.option_rectangle"
        },
        {
          "value": "half-arch",
          "label": "t:content_box_shape.option_half_arch"
        }
      ],
      "default": "half-arch",
      "label": "t:content_box_shape.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Location",
      "label": "t:heading.label"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "t:map.settings.address.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:map.settings.image.label",
      "info": "t:map.settings.image.info"
    }
  ],
  "presets": [
    {
      "name": "t:map.name"
    }
  ]
}
{% endschema %}
