{%- liquid
  if section.settings.hosted_video
    assign hosted_video = true
    assign aspect_ratio_fallback_padding = 1 | divided_by: section.settings.hosted_video.aspect_ratio | times: 100
  elsif section.settings.aspect_ratio == '16 / 9'
    assign hosted_video = false
    assign aspect_ratio_fallback_padding = '56.25%'
  elsif section.settings.aspect_ratio == '4 / 3'
    assign hosted_video = false
    assign aspect_ratio_fallback_padding = '75%'
  else
    assign hosted_video = false
    assign aspect_ratio_fallback_padding = '41.841%'
  endif

  assign video_aspect_ratio = section.settings.hosted_video.aspect_ratio | default: section.settings.aspect_ratio
  assign video_id = section.settings.hosted_video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.hosted_video.alt | default: section.settings.description
  assign deferred_media_id = video_id | append: section.id

  if section.settings.enable_video_looping
    assign loop_param = '&loop=1'
  else
    assign loop_param = ''
  endif
-%}

{%- style -%}
  .video--{{ section.id }} .deferred-media {
    padding-top: {{ aspect_ratio_fallback_padding }};
  }

  @supports (aspect-ratio: 1) {
    .video--{{ section.id }} .deferred-media,
    .video--{{ section.id }} .deferred-media iframe,
    .video--{{ section.id }} .deferred-media video {
      aspect-ratio: {{ video_aspect_ratio }};
      padding-top: 0;
    }
  }
{%- endstyle -%}

<div class="video video--{{ section.id }} {% unless section.settings.full_width %}container--page{% endunless %} {% if section.settings.spacing_top %}space--pt--xlarge{% endif %} {% if section.settings.spacing_bottom %}space--pb--xlarge{% endif %}">
  {%- unless section.settings.heading == blank -%}
    <h2 class="type--heading title--{{ section.settings.heading_size }} align--text-center space--viewport-sides">
      {{ section.settings.heading }}
    </h2>
  {%- endunless -%}
  {%- unless section.settings.text == blank -%}
    <div class="container--copy-max-width rte copy--{{ section.settings.text_size }} space--mt--small align--text-center align--block-center space--viewport-sides">
      {{ section.settings.text }}
    </div>
  {%- endunless -%}
  <noscript>
    <div class="deferred-media {% unless section.settings.heading == blank and section.settings.text == blank %}space--mt--large{% endunless %}">
      {%- if hosted_video -%}
        {{
          section.settings.hosted_video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: section.settings.enable_video_looping,
            controls: true,
            muted: false
        }}
      {%- else -%}
        <a href="{{ section.settings.video_url }}" target="_blank" rel="noopener" class="deferred-media__poster display--block">
          {%- if section.settings.cover_image != blank -%}
            {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              sizes: '100vw',
              widths: '375, 550, 720, 990, 1200, 1500, 2000, 2400, 3000, 3840',
              class: 'deferred-media__cover-image'
            }}
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg deferred-media__cover-image' }}
          {%- endif -%}
          <span class="deferred-media__poster-button display--block align--text-center element--full-width">
            {%- render 'icons', icon: 'play', size: '60px', class: 'deferred-media__poster-icon' -%}
          </span>
        </a>
      {%- endif -%}
    </div>
  </noscript>

  <deferred-media class="deferred-media no-js-hidden {% unless section.settings.heading == blank and section.settings.text == blank %}space--mt--large{% endunless %}" data-media-id="{{ deferred_media_id }}">
    <button
      id="Deferred-Poster-{{ deferred_media_id }}"
      class="button--reset deferred-media__poster"
      aria-label="{{ 'video.load_video' | t: description: video_alt }}"
      type="button"
    >
      {%- if section.settings.cover_image != blank -%}
        {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
          loading: 'lazy',
          sizes: '100vw',
          widths: '375, 550, 720, 990, 1200, 1500, 2000, 2400, 3000, 3840',
          class: 'deferred-media__cover-image',
          alt: video_alt
        }}
      {%- else -%}
        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg deferred-media__cover-image' }}
      {%- endif -%}
      <span class="deferred-media__poster-button">
        {%- render 'icons', icon: 'play', class: 'deferred-media__poster-icon' -%}
      </span>
    </button>
    <template>
      {%- if section.settings.hosted_video == null and section.settings.video_url != null -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?modestbranding=1&color=white&showinfo=0&playsinline=1&autoplay=1&playlist={{ section.settings.video_url.id }}{{ loop_param }}" title="{{ section.settings.description | escape }}"></iframe>
        {%- else -%}
          <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1{{ loop_param }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          section.settings.hosted_video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: section.settings.enable_video_looping,
            controls: true,
            muted: false
        }}
      {%- endif -%}
    </template>
  </deferred-media>
</div>

{% schema %}
{
  "name": "t:video.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "spacing_top",
      "default": false,
      "label": "t:spacing_top.label"
    },
    {
      "type": "checkbox",
      "id": "spacing_bottom",
      "default": false,
      "label": "t:spacing_bottom.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "t:heading.settings.heading_size.option_large"
        },
        {
          "value": "medium",
          "label": "t:heading.settings.heading_size.option_medium"
        },
        {
          "value": "small",
          "label": "t:heading.settings.heading_size.option_small"
        }
      ],
      "default": "medium",
      "label": "t:heading.settings.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "large",
          "label": "t:text.settings.text_size.option_large"
        },
        {
          "value": "medium",
          "label": "t:text.settings.text_size.option_medium"
        },
        {
          "value": "small",
          "label": "t:text.settings.text_size.option_small"
        },
        {
          "value": "xsmall",
          "label": "t:text.settings.text_size.option_xsmall"
        }
      ],
      "default": "medium",
      "label": "t:text.settings.text_size.label"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:video.settings.cover_image.label",
      "info": "t:video.settings.cover_image.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": true,
      "label": "t:video.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:video.settings.shopify_hosted_video.content"
    },
    {
      "type": "video",
      "id": "hosted_video",
      "label": "t:video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:video.settings.third_party_video.content"
    },
    {
      "type": "paragraph",
      "content": "t:video.settings.video_info.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:video.settings.video_url.label",
      "placeholder": "t:video.settings.video_url.placeholder",
      "info": "t:video.settings.video_url.info"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "4 / 3",
          "label": "t:video.settings.video_aspect_ratio.option_classic"
        },
        {
          "value": "16 / 9",
          "label": "t:video.settings.video_aspect_ratio.option_widescreen"
        },
        {
          "value": "2.39 / 1",
          "label": "t:video.settings.video_aspect_ratio.option_anamorphic"
        }
      ],
      "default": "16 / 9",
      "label": "t:video.settings.video_aspect_ratio.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:video.settings.description.label",
      "info": "t:video.settings.description.info"
    }
  ],
  "presets": [
    {
      "name": "t:video.name"
    }
  ]
}
{% endschema %}
