{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? and settings.type_accent_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign header_font_bold = settings.type_header_font | font_modify: 'weight', 'bold'
      assign accent_font_bold = settings.type_accent_font | font_modify: 'weight', 'bold'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_bold | font_face: font_display: 'swap' }}
      {{ settings.type_accent_font | font_face: font_display: 'swap' }}
      {{ accent_font_bold | font_face: font_display: 'swap' }}

      {%- liquid
        if settings.colors_site_bg.lightness < 50
          assign site_border_color = settings.colors_site_bg | color_lighten: 15 | color_desaturate: 20
        else
          assign site_border_color = settings.colors_site_bg | color_darken: 10 | color_desaturate: 20
        endif

        if settings.theme_style == 'soft'
          assign border_radius_square = '50%'
          assign border_radius_pill = '9999px'
          assign border_radius_base = '8px'
        else
          assign border_radius_square = '0'
          assign border_radius_pill = '0'
          assign border_radius_base = '0'
        endif
      -%}

      :root {
        --border-radius-square: {{ border_radius_square }};
        --border-radius-pill: {{ border_radius_pill }};;
        --border-radius: {{ border_radius_base }};

        --space-xsmall: 0.33rem;
        --space-small: 0.66rem;
        --space-medium: 1rem;
        --space-large: 2rem;
        --space-xlarge: 4rem;

        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-size: {{ settings.type_body_size }}px;
        --font-body-text-transform: unset;
        --font-body-letter-spacing: 0;
        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        --font-heading-base-size: {{ settings.type_heading_size }}rem;
        {% if settings.type_header_all_caps %}
          --font-heading-text-transform: uppercase;
          --font-heading-letter-spacing: 0.02em;
        {% else %}
          --font-heading-text-transform: none;
          --font-heading-letter-spacing: 0;
        {% endif %}
        --font-heading-size-large: var(--font-heading-base-size);
        --font-heading-size-medium: calc(var(--font-heading-base-size) * 0.8);
        --font-heading-size-small: calc(var(--font-heading-base-size) * 0.6);
        --font-heading-size-xsmall: 1.3rem;
        --font-heading-line-height: 1.15;
        --font-copy-size-large: 1.25rem;
        --font-copy-size-small: 0.9rem;
        --font-copy-size-xsmall: 0.775rem;
        --font-copy-size-xxsmall: 0.7rem;
        --font-copy-line-height: 1.5;
        --font-accent-family: {{ settings.type_accent_font.family }}, {{ settings.type_accent_font.fallback_families }};
        --font-accent-style: {{ settings.type_accent_font.style }};
        --font-accent-weight: {{ settings.type_accent_font.weight }};
        {% if settings.type_accent_all_caps %}
          --font-accent-text-transform: uppercase;
          --font-accent-letter-spacing: 0.05em;
        {% else %}
          --font-accent-text-transform: none;
          --font-accent-letter-spacing: 0;
        {% endif %}
        --font-accent-line-height: 1.1;
        --font-accent-base-size: {{ settings.type_accent_size }}rem;
        --font-button-family: var(--font-{{ settings.type_button_font }}-family);
        --font-button-letter-spacing: var(--font-{{ settings.type_button_font }}-letter-spacing);
        --font-button-text-transform: var(--font-{{ settings.type_button_font }}-text-transform);
        --font-button-size: {{ settings.type_button_size }}rem;

        --border-color-opacity: 0.25;
        --color-border: {{ site_border_color }};
        --color-background-raw: {{ settings.colors_site_bg.hue }}, {{ settings.colors_site_bg.saturation }}%, {{ settings.colors_site_bg.lightness }}%;
        --color-foreground-raw: {{ settings.colors_default_text.hue }}, {{ settings.colors_default_text.saturation }}%, {{ settings.colors_default_text.lightness }}%;
        --color-primary-raw: {{ settings.colors_primary_accent.hue }}, {{ settings.colors_primary_accent.saturation }}%, {{ settings.colors_primary_accent.lightness }}%;
        --color-secondary-raw: {{ settings.colors_secondary_accent.hue }}, {{ settings.colors_secondary_accent.saturation }}%, {{ settings.colors_secondary_accent.lightness }}%;
        --color-tertiary-raw: {{ settings.colors_tertiary_accent.hue }}, {{ settings.colors_tertiary_accent.saturation }}%, {{ settings.colors_tertiary_accent.lightness }}%;
        --color-quaternary-raw: {{ settings.colors_quaternary_accent.hue }}, {{ settings.colors_quaternary_accent.saturation }}%, {{ settings.colors_quaternary_accent.lightness }}%;
        --color-quinary-raw: {{ settings.colors_quinary_accent.hue }}, {{ settings.colors_quinary_accent.saturation }}%, {{ settings.colors_quinary_accent.lightness }}%;
        --color-senary-raw: {{ settings.colors_senary_accent.hue }}, {{ settings.colors_senary_accent.saturation }}%, {{ settings.colors_senary_accent.lightness }}%;
        --color-primary-contrast-raw: {{ settings.colors_primary_contrast.hue }}, {{ settings.colors_primary_contrast.saturation }}%, {{ settings.colors_primary_contrast.lightness }}%;
        --color-secondary-contrast-raw: {{ settings.colors_secondary_contrast.hue }}, {{ settings.colors_secondary_contrast.saturation }}%, {{ settings.colors_secondary_contrast.lightness }}%;
        --color-tertiary-contrast-raw: {{ settings.colors_tertiary_contrast.hue }}, {{ settings.colors_tertiary_contrast.saturation }}%, {{ settings.colors_tertiary_contrast.lightness }}%;
        --color-quaternary-contrast-raw: {{ settings.colors_quaternary_contrast.hue }}, {{ settings.colors_quaternary_contrast.saturation }}%, {{ settings.colors_quaternary_contrast.lightness }}%;
        --color-quinary-contrast-raw: {{ settings.colors_quinary_contrast.hue }}, {{ settings.colors_quinary_contrast.saturation }}%, {{ settings.colors_quinary_contrast.lightness }}%;
        --color-senary-contrast-raw: {{ settings.colors_senary_contrast.hue }}, {{ settings.colors_senary_contrast.saturation }}%, {{ settings.colors_senary_contrast.lightness }}%;
        --color-site-header-bg: {{ settings.colors_header_bg }};
        --color-nav-text: {{ settings.colors_header_text }};
        --color-nav-text-raw: {{ settings.colors_header_text.hue }}, {{ settings.colors_header_text.saturation }}%, {{ settings.colors_header_text.lightness }}%;
        --color-site-footer-bg: {{ settings.colors_footer_bg }};
        --color-site-footer-text-raw: {{ settings.colors_footer_text.hue }}, {{ settings.colors_footer_text.saturation }}%, {{ settings.colors_footer_text.lightness }}%;
        --color-site-footer-text: {{ settings.colors_footer_text }};
        --color-badge-default: {{ site_border_color }};
        --color-sale-badge-bg: {{ settings.colors_sale_badge_bg }};
        --color-sale-badge-text: {{ settings.colors_sale_badge_text }};
        --color-sold-out-badge-bg: {{ settings.colors_sold_out_badge_bg }};
        --color-sold-out-badge-text: {{ settings.colors_sold_out_badge_text }};
        --color-coming-soon-badge-bg: {{ settings.colors_coming_soon_badge_bg }};
        --color-coming-soon-badge-text: {{ settings.colors_coming_soon_badge_text }};
        --color-new-badge-bg: {{ settings.colors_new_badge_bg }};
        --color-new-badge-text: {{ settings.colors_new_badge_text }};
        --color-foreground: hsl(var(--color-foreground-raw));
        --color-background: hsl(var(--color-background-raw));
        --color-image-placeholder: {{ settings.colors_placeholder }};
        --color-primary: hsl(var(--color-primary-raw));
        --color-secondary: hsl(var(--color-secondary-raw));
        --color-tertiary: hsl(var(--color-tertiary-raw));
        --color-quaternary: hsl(var(--color-quaternary-raw));
        --color-quinary: hsl(var(--color-quinary-raw));
        --color-senary: hsl(var(--color-senary-raw));
        --color-primary-contrast: hsl(var(--color-primary-contrast-raw));
        --color-secondary-contrast: hsl(var(--color-secondary-contrast-raw));
        --color-tertiary-contrast: hsl(var(--color-tertiary-contrast-raw));
        --color-quaternary-contrast: hsl(var(--color-quaternary-contrast-raw));
        --color-quinary-contrast: hsl(var(--color-quinary-contrast-raw));
        --color-senary-contrast: hsl(var(--color-senary-contrast-raw));
        --color-box-shadow: hsla(var(--color-foreground-raw), 0.15);
        --color-overlay: hsla(var(--color-{{ settings.overlay_color }}-raw), 0.7);
        --color-default: var(--color-background);
        --color-inverse: var(--color-foreground);
        --color-discount-bg: hsla(var(--color-foreground-raw), 0.07);

        --border-size--thick: 2px;
        --border-size--thin: 1px;
        --border--thin: var(--border-size--thin) solid var(--color-border);
        --border--thick: var(--border-size--thick) solid var(--color-border);
        --border-radius-arch: 120px;
        --box-shadow--bottom: 0 12px 20px -15px var(--color-box-shadow);
        --box-shadow--all-sides: 0 0 20px var(--color-box-shadow);
        --box-shadow--all-sides-small: 0 0 10px var(--color-box-shadow);

        --space-viewport-sides: var(--space-large);
        --space-grid-gap: var(--space-large);

        --container-max-width-copy: 45rem;
        --container-width-form: 38ch;
        --container-width-large: 62rem;
        --container-width-medium: 40rem;
        --container-width-small: 24rem;
        --page-width: 100rem;
        --pointer-element-min-height: 44px;
        --link-underline-offset: 0.25em;

        --transition-duration: 200ms;
        --transition-duration-long: 500ms;
        --transition-timing-function: ease;

        --z-index-hidden: -1;
        --z-index-background: 0;
        --z-index-base: 1;
        --z-index-overlay: 2;
        --z-index-overlay-interaction: 3;
      }

      @media screen and (max-width: 767px) {
        :root {
          --space-grid-gap: var(--space-medium);
          --space-viewport-sides: var(--space-medium);
          --font-heading-size-large: calc(var(--font-heading-base-size) * 0.8);
          --font-heading-size-medium: calc(var(--font-heading-base-size) * 0.6);
          --font-heading-size-small: calc(var(--font-heading-base-size) * 0.5);
          --font-heading-size-xsmall: 1.2rem;
        }
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html {
        background-color: var(--color-background);
        box-sizing: border-box;
        font-size: var(--font-body-size);
        height: 100%;
      }

      body {
        accent-color: var(--color-primary);
        color: var(--color-foreground);
        font-family: var(--font-body-family);
        font-size: 1rem;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        height: 100%;
        line-height: var(--font-copy-line-height);
        margin: 0;
        min-height: 100vh;
        position: relative;
      }

      {% if settings.fade_in_images %}
        .fade-in-image img {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 400ms ease-in;
        }

        .fade-in-image.fade-in-image--loaded img,
        .no-js .fade-in-image img,
        .shopify-design-mode .fade-in-image img {
          opacity: 1 !important;
        }
      {% endif %}
    {% endstyle %}

    {{ 'styles-base.css' | asset_url | stylesheet_tag }}
    {{ 'styles-buttons.css' | asset_url | stylesheet_tag }}
    {{ 'styles-component-badge.css' | asset_url | stylesheet_tag }}
    {{ 'styles-layout-gift-card.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-align-display.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-animations.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-colors.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-containers.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-element-object.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-flex-grid.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-misc.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-typography.css' | asset_url | stylesheet_tag }}
    {{ 'styles-utilities-spacing.css' | asset_url | stylesheet_tag }}

    {% if settings.css_overrides %}
      <style>
        {{ settings.css_overrides }}
      </style>
    {% endif %}
  </head>

  <body class="gift-card__container">
    <header>
      {%- section 'gift-card-logo' -%}
      <div class="space--mt--medium">
        <h1 class="type--heading title--medium">
          {% if settings.currency_code_enabled %}
            {{ gift_card.balance | money_with_currency }}
          {% else %}
            {{ gift_card.balance | money }}
          {% endif %}
        </h1>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <div class="space--mt--small badge badge--sold-out">
            <span>
              {{ 'gift_cards.issued.expired' | t }}
            </span>
          </div>
        {%- endif -%}
      </div>

      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p class="gift-card__label caption-large">
          {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
        </p>
      {% endif %}
    </header>

    <main class="space--mt--large">
      {%- section 'gift-card-image' -%}
      <p class="gift-card__text space--mt--medium space--viewport-sides">
        {{ 'gift_cards.issued.how_to_use_gift_card' | t }}
      </p>
      <p class="gift-card__number space--mt--large space--mb--small space--viewport-sides">
        {{ gift_card.code | format_code }}
      </p>
     
      <div class="gift-card__copy-code no-print">
        <button class="js-gift-card-copy-link button--tag space--pv--xsmall align--block-center">
          {{ 'gift_cards.issued.copy_code' | t }}
          {%- render 'icons', icon: 'clipboard', size: '1em', class: 'space--ml--xsmall' -%}
        </button>
        <span class="gift-card__copy-success js-gift-card-copy-success" role="status"></span>
        <template>
          {%- render 'icons', icon: 'success', class: 'form-message__icon space--mr--xsmall' -%}
          <span>
            {{ 'gift_cards.issued.copy_code_success' | t }}
          </span>
        </template>
      </div>

      <div class="gift-card__qr-code-container">
        <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      </div>

      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet space--mb--medium no-print">
          <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
        </a>
      {%- endif -%}
      <div class="space--pb--xlarge no-print">
        <a
          href="{{ shop.url }}"
          class="button align--block-center space--mb--small display--inline-block"
          target="_blank"
          rel="noopener"
          aria-describedby="a11y-new-window-message"
        >
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
        <button
          class="button--reset display--block align--block-center"
          onclick="window.print();"
        >
          {{ 'gift_cards.issued.print_gift_card' | t }}
        </button>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.js-gift-card-copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(`{{ gift_card.code | format_code }}`).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.js-gift-card-copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
